:root {
    --p1-color: #7878ff;
    --p2-color: #ff6c6c;
    --p1-color-dark: #4b4ba1;
    --p2-color-dark: #8f3d3d;
    --p1-color-light: #a5a5fc;
    --p2-color-light: #ff9e9e;
}

.bottom-right {
    padding: 4px 12px;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    text-align: right;
}

.bottom-left {
    padding: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    text-align: left;
}

.corner-text {
    margin: 0;
    color: #bbb;
}

.color-link {
    filter: grayscale(1) brightness(70%);
    -webkit-filter: grayscale(1) brightness(70%);
}

/* Main menu */
#main-window {
    max-width: 400px;
    margin: auto;
}

.new-game {
    font-size: 34px;
    padding: 5px 25px;
    color: #90ff90;
}

.join-box {
    width: 90%;
    height: 300px;
    margin: 10px auto;
    overflow-y: auto;
}

.join-button {
    position: relative;
    background-color: #00000050;
    height: 80px;
    border-radius: 10px;
    margin: 15px 6px;
    transition-duration: 0.4s;
    outline: 1px solid black;
    cursor: pointer;
}

.join-button:hover {
    outline: 5px solid var(--link-hover-color);
}

.join-text-top-left {
    color: var(--p1-color);
    width: 43%;
    word-wrap: break-word;
    font-size: 18px;
    text-align: left;
    position: absolute;
    top: 4px;
    left: 12px;
}

.join-text-top-right {
    color: var(--p2-color);
    width: 43%;
    word-wrap: break-word;
    font-size: 18px;
    text-align: right;
    position: absolute;
    top: 4px;
    right: 12px;
 }

.join-text-bottom-left {
    color: var(--header-color);
    font-size: 20px;
    font-weight: bolder;
    text-align: left;
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.join-text-bottom-right {
    color: #bbb;
    text-align: right;
    position: absolute;
    bottom: 4px;
    right: 10px;
}

#userstats-text {
    float: right;
    margin-right: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--header-color);
}

#leaderboard {
    max-width: 350px;
    height: 270px;
    padding: 7px 10px;
    margin: auto auto 5px;
    display: grid;
    grid-template-columns: 13% 50% 37%;
    grid-auto-rows: min-content;
    overflow-y: auto;
}

.leaderboard-left-h {
    text-align: left;
    font-weight: 600;
}

.leaderboard-right-h {
    text-align: right;
    font-weight: 600;
}

.leaderboard-left {
    text-align: left;
    color: var(--header-color);
}

.leaderboard-right {
    text-align: right;
}

/* Create game menu */
#create-window {
    max-width: 400px;
    margin: auto;
    display: none;
}

.setting-label {
    margin: 5px 0 0 10%;
    text-align: left;
}

input[type="range"] {
    width: 80%;
}

/* Join Menu */
#join-window {
    max-width: 370px;
    margin: auto;
    display: none;
}

#join-rules-text {
    margin-top: 0;
    text-align: left;
}

#join-game-header {
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

/* Minesweeper menu */
#field-window {
    margin: auto;
    width: fit-content;
    display: none;
}

.left-box {
    float: left;
    width: 0;
}

.right-box {
    float: right;
}

.right-text {
    position: absolute;
    text-align: left;
    left: calc(100% + 7px);
    white-space: nowrap;
    line-height: 21px;
}

#rules-text {
    color: #bbb;
    top: calc(100% - 125px);
}

#spectators-text {
    color: var(--header-color);
}

#player-name-1, #player-timer-1 {
    text-align: left;
    color: var(--p1-color);
}

#player-name-2, #player-timer-2 {
    text-align: right;
    color: var(--p2-color);
    margin-left: auto;
}

#player-timer-1, #player-timer-2 {
    padding-bottom: 2px;
    margin-bottom: 0;
}

.player-text {
    margin: 2px;
    padding: 3px 5px;
    width: max-content;
}

#field-overlay {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    background-color: #101010c0;
}

#field {
    border-collapse: collapse;
    font-size: 20px;
    user-select: none;
}

td {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background-color: #ccc;
}

.hidden {
    cursor: pointer;
    background-color: #999;
    box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #555;
}

.revealed {
    background-color: #999;
    box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #555;
}

.revealed-p1 {
    background-color: #999;
    box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #555, inset 3px 3px 0 var(--p1-color), inset -3px -3px 0 var(--p1-color);
}

.revealed-p2 {
    background-color: #999;
    box-shadow: inset 1px 1px 0 #555, inset -1px -1px 0 #555, inset 3px 3px 0 var(--p2-color), inset -3px -3px 0 var(--p2-color);
}